*{
    padding: 0px;
    margin: 0px;
}
body{
    background: black url('../img/fundobody.png') center center fixed ;
    background-size: cover;
}
header{
 background-color: rgb(255, 255, 255); 
 height: 100px;  
 padding: 100px 0px 0px 0px;
}
header > #box-header-section{
    background-color: brown;
    height: 100%;
    padding:  20px;

}
header > #box-header-section  > #box-header-s-1{
    height: 100%; 
    width: 30% ;
    background-color: aquamarine;
    margin: 10px 20px;
}
header > #box-header-section  >  #box-header-s-2{
   height: 100%; 
   width: 30% ;
   background-color: aquamarine;
   margin: 10px 20px;
}
header > #box-header-section  > #box-header-s-3{
    height: 100%; 
    width: 30% ;
    background-color: aquamarine;
    margin: 10px 20px;
}